* {
    box-sizing: border-box;
  }
 
body {
    font-family: Arial, Helvetica, sans-serif;
  }

  #grid-container{
    display: grid;
    grid-template-areas: "header"
                            "main"
                            "footer";
  }
  header{
    grid-area: "header";
  }
  header form input{
    padding: 0.5rem;
  }

  header ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    a{
        text-decoration: none;
        color: #000;
    }
  }

  main{
    grid-area: "main";
  }
  #banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #cecece;
    max-width: 350px;
    padding: 1rem;
    margin: 10px;
    a{
        padding: 1rem;
        background-color: #1b1a1a;
        color: #fff;
        list-style: none;
        text-decoration: none;
        
    }
  }

  /*kategorikort*/
  #popkategorier{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
  }
  .category-card{
    max-width: 400px;
    padding: 10rem;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        text-align: center;
    }
  }

  footer{
    grid-area: "footer";
    padding-top: 15px;
  }

  footer ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    a{
        text-decoration: none;
        color: #000;
    }
  }

  .mainlogo{
    max-width: 150px;
  }