* {
    box-sizing: border-box;
  }
 
body {
    font-family: Arial, Helvetica, sans-serif;
  }

  #grid-container{
    display: grid;
    grid-template-areas: "header"
                            "main"
                            "footer";
  }
  header{
    grid-area: header;
  }
  header form input{
    padding: 0.5rem;
  }

  header ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    a{
        text-decoration: none;
        color: #000;
    }
  }

  main{
    grid-area: main;
  }
  #banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #cecece;
    max-width: 350px;
    padding: 1rem;
    margin: 10px;
    a{
        padding: 1rem;
        background-color: #fff;
        color: #000;
        list-style: none;
        text-decoration: none;
        
    }
  }
  /*populære-produkter*/
  #popprodukter button{
    padding: 1rem;
  }
  
  /*styrer også annmeldelser*/
  .column-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
  }

  .products{
    max-width: 350px;
    min-width: 200px;
    width: 100%; 
    box-shadow: 13px 9px 20px 0px #bfbebe; 
    border-radius: 4px; 
    padding: 1rem;
    img{
      max-width: 100%;
      width: 300px;
    }
  }


  /*kategorikort*/
  #popkategorier{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
    gap: 1rem;
  }
  .category-card{
    max-width: 400px;
    padding: 10rem;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        text-align: center;
        color: #000;
    }
  }
    /*ANNMELDELSER*/
    .review{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex-wrap: wrap;
      width: 300px;
      padding: 5px;
      border: 0.5px solid #d2d2d2;
      border-radius: 5%;

      img{
        width: 150px;
        border-radius: 15%;
      }
    }

  footer{
    grid-area: footer;
    padding-top: 15px;
    max-width: 100%;
    section p{
      width: 400px;
    }
  }
  
  /*section :nth-child(2){
    width: 400px;
  }*/

  footer ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    a{
        text-decoration: none;
        color: #000;
    }
  }

  .mainlogo{
    max-width: 150px;
  }