* {
    box-sizing: border-box;
  }
 
body {
    font-family: Arial, Helvetica, sans-serif;
  }

  #grid-container{
    display: grid;
    grid-template-areas: "header"
                            "main"
                            "footer";
  }
  header{
    grid-area: "header";
  }

  header ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    a{
        text-decoration: none;
        color: #000;
    }
  }

  main{
    grid-area: "main";
  }

  .category-card{
    display: flex;
    flex-direction: column;
    padding: 10rem;
    border: #000;
  }

  footer{
    grid-area: "footer";
  }

  footer ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    a{
        text-decoration: none;
        color: #000;
    }
  }

  .mainlogo{
    max-width: 150px;
  }